h1 {
  font-size: 0.42rem;
}
h2 {
  font-size: 0.38rem;
}
h3 {
  font-size: 0.34rem;
}
h4 {
  font-size: 0.3rem;
}
h5 {
  font-size: 0.2rem;
}
h6 {
  font-size: 0.18rem;
}
.bg_info {
  background-color: #fde9ae;
}
.bg_warning {
  background-color: #cdecfe;
}
.bg_success {
  background-color: #d3fdc5;
}
.bg_error {
  background-color: #fed3d6;
}
.bg_main {
  background-color: #eb2d4a;
}
html {
  font-size: 100px;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
body,
html {
  width: 100%;
  height: 100%;
}
body {
  margin: 0 auto;
  min-width: 320px;
  max-width: 760px;
  background: #fafafa;
}
body,
a,
textarea {
  font-size: 0.26rem;
  font-family: "微软雅黑";
  color: #000000;
}
a {
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
input,
button,
select,
textarea,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input,
button,
select,
textarea {
  outline: none;
  background: none;
  -webkit-appearance: none;
}
input,
button,
select,
a {
  cursor: pointer;
}
.fontWNormal,
h5,
h4,
h3,
h2,
h1,
h0 {
  font-weight: normal;
}
.u-container {
  margin: 0 auto;
  width: 100%;
  max-width: 6.4rem;
  height: auto;
}
.u-padding10 {
  padding-left: 0.1rem;
  padding-right: 0.1rem;
}
.u-padding20 {
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}
.u-cenInBlock,
.u-aFull,
[class^="icon"],
.svgIcon {
  display: inline-block;
  vertical-align: middle;
}
.u-flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.u-imgAuto {
  width: auto;
  max-width: 100%;
  height: 100%;
  vertical-align: middle;
}
.u-aFull {
  width: 100%;
  height: 100%;
}
.u-cleanBoth::after,
.u-cleanBoth::before {
  content: '';
  display: inline-block;
  clear: both;
}
.u-clearFloat {
  clear: both;
  float: none;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 0.01px;
  border: 0.01px soild transparent;
  overflow: hidden;
}
.u-fLeft,
.btn-footerFixed .bf-left {
  float: left;
}
.u-fRinght,
.btn-footerFixed .bf-right {
  float: right;
}
.u-wh100 {
  width: 100%;
  height: 100%;
}
.u-absolute {
  position: absolute;
}
.txt-noneLine {
  text-decoration: none;
}
.txt-ellipsis,
.btn-footerFixed .bf-left,
.btn-footerFixed .bf-right,
.btn-footerFixed .bf-all {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.txt-fs0 {
  font-size: 0;
}
.txt-warning_col {
  color: #e81e2a;
}
.txt-tips_col {
  color: #50aef8;
}
.txt-safety_col {
  color: #4dc027;
}
.txt-main_col {
  color: #eb2d4a;
}
.elAct:active {
  transform: translate(2px, 2px);
}
.btn-footerFixed {
  z-index: 4;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1rem;
  line-height: 1rem;
}
.btn-footerFixed .btn-footerContainer {
  height: 100%;
  background: #ffffff;
  box-shadow: -0.02rem -0.02rem 0.2rem 0.02rem rgba(0, 0, 0, 0.15);
}
.btn-footerFixed .bf-left,
.btn-footerFixed .bf-right,
.btn-footerFixed .bf-all {
  padding: 0 0.15rem;
  height: 100%;
}
.btn-footerFixed .bf-left {
  width: 3.2rem;
}
.btn-footerFixed .bf-right {
  width: 3.2rem;
}
.btn-footerFixed .bf-all {
  width: 100%;
}
.btn-footerFixed .bf-input {
  padding: 0 0.15rem;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 0.38rem;
  color: #ffffff;
  letter-spacing: 0.05rem;
}
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  .btn-footerFixed {
    height: 1.34rem;
  }
  .btn-footerFixed .btn-footerContainer {
    padding-bottom: 0.34rem;
  }
}
input::-webkit-input-placeholder {
  color: #9a9a9a;
}
input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #9a9a9a;
}
input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #9a9a9a;
}
input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #9a9a9a;
}
[class^="icon"] {
  overflow: hidden;
}
.svgIcon {
  fill: currentColor;
  overflow: hidden;
}
.icon-logo {
  width: 0.6rem;
  height: 0.6rem;
}
.icon-176 {
  width: 1.76rem;
  height: 1.76rem;
}
.icon-70 {
  width: 0.7rem;
  height: 0.7rem;
}
.icon-60 {
  width: 0.6rem;
  height: 0.6rem;
}
.icon-50 {
  width: 0.5rem;
  height: 0.5rem;
}
.icon-45 {
  width: 0.45rem;
  height: 0.45rem;
}
.icon-40 {
  width: 0.4rem;
  height: 0.4rem;
}
.icon-35 {
  width: 0.35rem;
  height: 0.35rem;
}
.icon-30 {
  width: 0.3rem;
  height: 0.3rem;
}
.icon-27 {
  width: 0.27rem;
  height: 0.27rem;
}
.icon-27 {
  width: 0.27rem;
  height: 0.27rem;
}
.icon-25 {
  width: 0.25rem;
  height: 0.25rem;
}
.icon-20 {
  width: 0.2rem;
  height: 0.2rem;
}
.icon-18 {
  width: 0.18rem;
  height: 0.18rem;
}
.icon-14 {
  width: 0.14rem;
  height: 0.14rem;
}
.icon-30-20 {
  width: 0.3rem;
  height: 0.2rem;
}
.icon-6-10 {
  width: 0.06rem;
  height: 0.1rem;
}
.icon-9-16 {
  width: 0.09rem;
  height: 0.16rem;
}
/*--Body大屏美化适配-CSS--Start--*/
@media screen and (min-width: 760px) {
  body {
    box-shadow: 0 0 0.1rem 0.01rem rgba(0, 0, 0, 0.25);
  }
}
.mint-indicator {
  z-index: 999;
}
.mint-indicator-wrapper {
  z-index: 999;
}
